/*
## Grid
=====================*/
/// @group Layout
/// Grid
/// Use inline definition of the css variables for config
.grid {
  display: grid; // stacked on small devices
  gap: var(--grid-gap);

  &-auto {
    @extend .grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  }
  @include mq('small') {
    // start putting things in columns
    grid-template-columns: repeat(var(--grid-columns), 1fr);
  }
}