@use '../config/config' as *;

/*
## Typography
=====================*/

.headline {
  font-weight: 600;
  margin: .5rem auto;
  font-size: var(--font-size-xs);
  font-family: var(--font-body);
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.is-medium {font-weight: 500;}
.is-semi-bold {font-weight: 600;}
.is-bold {font-weight: 600;}