@use '../config/config' as *;
$config: (
  'background': #00000007,
  'radius': var(--border-radius),
  'color': var(--accent-color),
);

.notification {
  --accent-color: var(--color-info);
  &:not(:empty) {
    padding: 2rem;
    background-color: getConfig('background');
    border-radius: getConfig('radius');
    border: 1px solid getConfig('color');

    h2 {color: getConfig('color');}
  }

  &--error {--accent-color: var(--color-error);}
  &--success {--accent-color: var(--color-success);}
}