@use '../config/config' as *;

/*
## Video
=====================*/

[data-video-consent-text] {
  --color-text: #fff;
  --color-background: hsla(0, 0%, 0%, 0.7);
  background-color: var(--color-background);
  background-image: var(--thumbnail);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  color: var(--color-text);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-video-play-text] {
  --color-text: #fff;
  --color-background: hsla(190.1, 5%, 27.6%, 0.45);
  background-color: var(--color-background);
  background-image: var(--thumbnail);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  color: var(--color-text);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    &:hover,
    &:focus,
    &:active {
      background: transparent;
      img {
        transform: scale(1.3);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
    }

    img {
      position: relative;
      display: block;
      width: toRem(79);
      height: toRem(79);
      transition: transform 0.2s ease-in-out;
    }
  }
}

[data-video-consent="false"] {
  [data-video-play-text] {display: none;}
}

[data-video-consent="true"] {
  [data-video-consent-text] {display: none;}
}
[data-video-play="false"] {
  [data-video-consent-iframe] {display: none;}
}
[data-video-play="true"] {
  [data-video-play-text] {display: none;}
}