@use "sass:map";
@use '../config/config' as *;

/*
## Base
=====================*/

/// CSS variables for theming and global config.
/// see the utility files and mixins to see the automatically generates ones (from the variables file).
:root {
  scroll-behavior: smooth;

  @each $name, $value in $root {
    --#{$name}: #{$value};
  }

  // Colors accessible from anywhere
  @each $name, $color in $colors {
    --color-#{$name}: #{map.get($color, "value")};
    --color-#{$name}-contrast: #{map.get($color, "contrast")};
  }
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

body {
  line-height: 1.5;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
  display: flex;
  flex-direction: column;
  font-size: var(--text-size-mobile);
  @media screen and (min-width: 50rem) {
    font-size: var(--text-size-desktop);
  }
}

[hidden] {
  display: none !important;
}