@use '../config/config' as *;

/*
## Forms
@source Vanilla CSS - https://github.com/bradleytaunt/vanilla-css
=====================*/

form {
  max-width: var(--site-width-small);
  margin: 0 auto;
}

input, select, optgroup, textarea, button {
  --color-focus: var(--color-text);
  font: inherit;
  appearance: none;
  border: 1px solid var(--color-neutral-300);
  display: block;
  margin: 0.5rem 0;
  padding: toRem(10) toRem(12);
  border-radius: var(--border-radius-smaller);
  background-color: var(--color-background);
  line-height: 1.3;
  font-size: var(--font-size-s);
  // font-size: 1rem;

  outline-color: var(--color-focus);
  outline-offset: 2px;

  &::placeholder {
    color: var(--color-neutral-300);
    opacity: 1;
    font-weight: 400;
  }
  
  &:disabled {
    background-color: #ccc;
    color: #777;
    border-color: transparent;
    user-select: none;
    cursor: not-allowed;

    &:hover,
    &:focus {
      background-color: #ccc;
      color: #777;
      border-color: transparent;
    }
  }

  &:focus,
  &:active {
    background-color: var(--color-background);
    color: var(--color-text);
    border-color: var(--color-focus);
    outline-color: var(--color-focus);
  }

}

label, legend {
  color: var(--color-dark);
  &:focus,
  &:active {
    color: var(--color-dark);
  }
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: initial;
    appearance: auto;
    margin-right: .25rem;
  }

  &[type="color"] {
    cursor: pointer;
    padding: 0.25rem;
    border: 1px solid var(--color-secondary);
    height: 2.25rem;
    width: 2.25rem;
  }

  &[type="range"] {
    appearance: auto;
  }
}

button,
[type="button"],
[type="submit"],
[type="reset"] {
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
}

select {
  cursor: pointer;
  // background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.75 12.5L15 18.75L21.25 12.5H8.75Z' fill='%23666666'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.85em top 47%;
  padding-right: 1.75rem;
  background-size: 1.5em auto;
}

legend {
  margin-bottom: .5rem;
}

textarea {
  resize: vertical;
  min-height: 12rem;
}