@use '../config/config' as *;
$config: (
  'focus': var(--color-focus, var(--color-text)),
  'background': var(--color-background),
  'color': var(--color-text),
  'border': 1px solid var(--color-neutral-300),
  'border-radius': var(--border-radius-smaller),
  'padding': toRem(10) toRem(12),
  'placeholder': var(--color-neutral-300),
  'select-icon': "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E"
);

/*
## Forms
@source Vanilla CSS - https://github.com/bradleytaunt/vanilla-css
=====================*/

form {
  max-width: var(--site-width-small);
  margin: 0 auto;
}

input, select, optgroup, textarea, button {
  font: inherit;
  appearance: none;
  border: getConfig('border');
  display: block;
  margin: 0.5rem 0;
  padding: getConfig('padding');
  border-radius: getConfig('border-radius');
  background-color: getConfig('background');
  line-height: 1.3;
  font-size: var(--font-size-s);
  // font-size: 1rem;

  outline-color: getConfig('focus');
  outline-offset: 2px;

  &::placeholder {
    color: getConfig('placeholder');
    opacity: 1;
    font-weight: 400;
  }
  
  &:disabled {
    background-color: #ccc;
    color: #777;
    border-color: transparent;
    user-select: none;
    cursor: not-allowed;

    &:hover,
    &:focus {
      background-color: #ccc;
      color: #777;
      border-color: transparent;
    }
  }

  &:focus,
  &:active {
    background-color: getConfig('background');
    color: getConfig('color');
    border-color: getConfig('focus');
  }

}

label, legend {
  color: getConfig('color');
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: initial;
    appearance: auto;
    margin-right: .15rem;
  }

  &[type="color"] {
    cursor: pointer;
    padding: 0.25rem;
    height: 2.25rem;
    width: 2.25rem;
  }

  &[type="range"] {
    appearance: auto;
  }
}

button,
[type="button"],
[type="submit"],
[type="reset"] {
  cursor: pointer;
}

select {
  cursor: pointer;
  background-image: url(getConfig('select-icon'));
  background-repeat: no-repeat;
  background-position: right 0.85em top 47%;
  padding-right: 1.75rem;
  background-size: 1.5em auto;
}

legend {
  margin-bottom: .5rem;
}

textarea {
  resize: vertical;
  min-height: 12rem;
}