@use '../config/config' as *;
$config: (
  'iframe-border': 2px solid var(--color-neutral-300)
);

/*
## Medias
@source Vanilla CSS - https://github.com/bradleytaunt/vanilla-css
=====================*/

img {
  display: block;
  max-width: 100%;
}

figure {  
  img {
    margin: 0;
  }

  figcaption {
    font-size: .8rem;
    margin-top: 0.5rem;
  }
}

iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border: getConfig('iframe-border');
}