@use '../config/config' as *;

/*
## Medias
@source Vanilla CSS - https://github.com/bradleytaunt/vanilla-css
=====================*/

img {
  display: block;
  max-width: 100%;
}

figure {
  border: 1px solid var(--color-primary);
  display: inline-block;
  padding: 1rem;
  width: auto;
  
  img {
    margin: 0;
  }

  figcaption {
    font-size: .8rem;
    margin-top: 0.5rem;
  }
}

iframe {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  border: 2px solid var(--color-neutral-300);
}