@use '../config/config' as *;

/*
## Tables
@source Vanilla CSS - https://github.com/bradleytaunt/vanilla-css
=====================*/
.table_wrapper {
  // overflow-x: auto;
  left: 0;
  max-width: calc(100vw - 2rem);
  padding: 1rem 0;
  overflow: auto;
}
table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  font-size: 1rem;
  background: #fff;
  text-align: left;

  caption {
    margin: .5rem 0;
    font-size: toRem(14);
    color: var(--color-neutral-500);
    font-style: italic;
    caption-side: bottom;
  }

  tbody tr:nth-child(even),
  tbody tr:hover,
  tbody tr:focus-within {
    background: var(--color-neutral-100);
  }

  th {
    background:  var(--color-neutral-100);
    font-weight: bold;
    vertical-align: middle;
  }

  th,
  td {
    padding: .75rem 1rem;
    font-size: inherit;
  }

  tbody td,
  tbody th {
    border-top: 1px solid hsla(0, 0%, 55%, .2);
    border-bottom: 1px solid hsla(0, 0%, 55%, .2);
  }

  tbody th {
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
  }
}



