@use '../config/config' as *;
$config: (
  'background': var(--color-white),
  'background-accent': var(--color-neutral-100),
  'color': var(--color-text),
  'border': 1px solid hsla(0, 0%, 55%, .2)
);

/*
## Tables
@source Vanilla CSS - https://github.com/bradleytaunt/vanilla-css
=====================*/
.table_wrapper {
  // overflow-x: auto;
  left: 0;
  max-width: calc(100vw - 2rem);
  padding: 0;
  overflow: auto;
}
table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  font-size: 1rem;
  background: getConfig('background');
  text-align: left;

  caption {
    margin: .5rem 0;
    font-size: toRem(14);
    color: getConfig('color');
    font-style: italic;
    caption-side: bottom;
  }

  tbody tr:nth-child(even),
  tbody tr:hover,
  tbody tr:focus-within {
    background: getConfig('background-accent');
  }

  th {
    background: getConfig('background-accent');
    font-weight: bold;
    vertical-align: middle;
  }

  th,
  td {
    padding: .75rem 1rem;
    font-size: inherit;
  }

  tbody td,
  tbody th {
    border-top: getConfig('border');
    border-bottom: getConfig('border');
  }
}



