@use '../config/config' as *;

/*
## Typography
@source Vanilla CSS - https://github.com/bradleytaunt/vanilla-css
=====================*/

h1,
h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4 {
  font-family: var(--font-title);
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-text-dark);
  margin: 1rem auto .75rem;
  max-width: toRem(800);
  @include mq('small') {
    margin: 1rem auto;
  }
}

h1 {
  font-size: var(--font-size-xxl);
  font-weight: 500;
  text-wrap: balance;
  
  // @media (max-width: 30rem) {
  //   word-wrap: break-word;
  //   overflow-wrap: break-word;
  //   hyphens: auto;
  // }
}
h2,
.h2 {
  font-size: var(--font-size-xl);
  font-weight: 500;
  text-wrap: balance;
}
h3,
.h3 {
  font-size: var(--font-size-l);
  font-weight: 500;
}

h4,
.h4 {
  font-size: var(--font-size-m);
  font-weight: 500;
  font-family: var(--font-body);
}

h5,
h6 {
  font-size: var(--font-size-n);
  text-transform: uppercase;
}

p {
  margin: 1.5rem auto;
  max-width: var(--site-width-small);
}

strong,
b {
  font-weight: 600;
}
em,
dfn,
i {
  font-style: italic;
}
sup {
  font-size: 60%;
  vertical-align: top;
}
sub {
  font-size: 60%;
  vertical-align: bottom;
}
small {
  font-size: 80%;
}

blockquote,
q {
  background: transparent;
  border-left: none;
  position: relative;
  z-index: 1;
  text-align: left;
}

blockquote {
  position: relative;
  z-index: 1;
  background-color: var(--color-neutral-100);
  font-style: italic;
  color: var(--color-text);
  font-weight: 600;
  font-size: var(--font-size-n);
  padding: toRem(24) toRem(32);
  border-left: 4px solid var(--color-secondary);
  line-height: inherit;
  max-width: var(--site-width-small);
  margin-left: auto;
  margin-right: auto;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p {
  margin-bottom: 0;
}
cite {
  display: block;
  font-style: normal;
  font-weight: 400;
}

kbd,
code,
samp,
pre,
var {
  font-family: monospace;
  font-size: 1rem;
}
code,
pre {
  background: var(--color-neutral-100);
  padding: 0.5rem 1rem;
}
code pre,
pre code {
  padding: 0;
}

pre {
  margin: 1.5rem auto;
  max-width: var(--site-width-small);
}

ul,
ol {
  --chip-color: var(--color-primary);
  margin: 1.5rem auto;
  padding: 0 0 0 1.5rem;
  max-width: var(--site-width-small);

  ul, ol {
    margin: 0 0 .5rem;
  }

  li::marker {
    color: var(--chip-color, var(--color-text));
    // font-weight: bold;
  }

  &.is-unstyled {
    // accessible hidden lists, see https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
    list-style: none;
    margin: 0;
    padding: 0;

    &::before {
      content: "\200B"; /* add zero-width space */
      position: absolute; /* ensures it doesn't cause a gap */
    }
  }
}

ul {padding: 0 0 0 1rem;}

dl {
  margin: 1.5rem auto;
  max-width: var(--site-width-small);

  dt {font-weight: bold;}
  
  dd {padding-left: 1.5rem;}
}

hr {
  width: 100%;
  margin: toRem(40) auto;
  border: 4px;
  height: 1px;
  background: var(--color-neutral-300);
  position: relative;
  overflow: visible;
  max-width: 100%;
}

mark {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .25rem;
  font-weight: 600;
  color: inherit;

  background: var(--color-neutral-100);
}

a {
  color: var(--color-text);
  text-underline-offset: 2px; // very recent support, small progressive enhancement

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.is-unstyled {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .link_infos {
    text-decoration: none;
    opacity: .7;
    font-size: toRem(14);
    font-weight: 400;
    white-space: nowrap;
  }
}

a::before,
a::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;

  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

a[href]:not([href*="local"]):not(.no-external):not([href^="#"]):not([href^="/"]) {
  position: relative;
  display: inline-block;
  padding-right: 1em;

  &.button {
    padding-right: 1.75em;

    &::after {
      right: .85em;
      bottom: .9em;
    }

  }

  &::after {
    width: 1em;
    height: 1em;
    margin-right: 0;
    margin-left: .25rem;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke-width='2' stroke='currentColor' stroke-miterlimit='10' d='M22 13v9H2V2h9m3 0h8v8m0-8L10 14'/%3E%3C/svg%3E%0A");
  }
}


a[download] {
  &::before {
    width: 1.2em;
    height: 1.2em;
    margin-right: .25rem;
    margin-left: -2px;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke-width='2' stroke='currentColor' stroke-miterlimit='10' d='M12 17.7V.5m-7.7 9.6 7.7 7.6 7.6-7.6m0 8.6v3.8H4.3v-3.8'/%3E%3C/svg%3E%0A");
  }
}