/*!
Author: Rachel Pellin
Author URI: https://prachel.fr/
Package: webtopie-sass-starter
Version: 1.0
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables & mixins

# Global
  ## Reset
  ## Base
  ## Typography
  ## Media
  ## Tables
  ## Forms
  ## Progress

# Blocks
  ## Icons

# Composition
  ## Containers
  ## Grid

# Utility
	## Accessibility
  ## Spacers
  ## Sizes

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Variables & mixins
--------------------------------------------------------------*/
@import "config/mixins";
@import "config/variables";

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
@import "global/reset";
@import "global/base";
@import "global/typography";
@import "global/media";
@import "global/tables";
@import "global/forms";
@import "global/progress";

/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
@import "blocks/icons";

/*--------------------------------------------------------------
# Composition
--------------------------------------------------------------*/
@import "utility/containers";
@import "utility/grid";

/*--------------------------------------------------------------
# Utility
--------------------------------------------------------------*/
@import "utility/accessibility";
@import "utility/spacers";
@import "utility/sizes";