/*!
Author: Rachel Pellin
Author URI: https://prachel.fr/
Package: webtopie-sass-starter
Version: 1.2.0
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
  ## Reset
  ## Base
  ## Forms
  ## Media
  ## Progress
  ## Tables
  ## Typography

# Blocks
  ## Breadcrumb
  ## Button
  ## Form
  ## Icons
  ## Notification
  ## video

# Layout
  ## Containers
  ## Flow
  ## Grid

# Utility
  ## Accessibility
  ## Alignments
  ## Aspect-ratio
  ## Blocks
  ## Colors
  ## Queries
  ## Sizes
  ## Spacers
  ## Typography

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
@forward "global/reset";
@forward "global/base";
@forward "global/forms";
@forward "global/media";
@forward "global/progress";
@forward "global/tables";
@forward "global/typography";

/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
// According to the CUBE CSS methodology :
// What should a block do?
// - Extend the work already done by the global CSS, layout and utility layers
// - Apply a collection of design tokens within a concise group
// - Create a namespace or specificity boost to control a specific context

// # What shouldn’t a block do?
// - Grow to anything larger than a handful of CSS rules (max 80-100 lines)
// - Solve more than one contextual problem. For example: styling a card and a button in one file

// # exceptions
// They recommend the use of data-attributes for variations.
// I decided to use attributes when the exception is due to a state but
// to keep class use for aethetic changes, BEM style (.block.block--exception).
// An exception should provide a concise variation to a block.
// it shouldn't Variate a block to the point where 
// it isn’t recognisable anymore. This is where a new block should be created
@forward "blocks/breadcrumb";
@forward "blocks/button";
@forward "blocks/form";
@forward "blocks/icons";
@forward "blocks/notification";
@forward "blocks/video";

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@forward "layout/containers";
@forward "layout/flow";
@forward "layout/grid";

/*--------------------------------------------------------------
# Utility
--------------------------------------------------------------*/
@forward "utility/accessibility";
@forward "utility/alignments";
@forward "utility/aspect-ratio";
@forward "utility/blocks";
@forward "utility/colors";
@forward "utility/queries";
@forward "utility/sizes";
@forward "utility/spacers";
@forward "utility/typography";