@use '../../config/config' as *;
$config: (
  'chip-color': var(--color-primary)
);

ul,
ol {
  margin: 1.5rem auto;
  padding: 0 0 0 1.5rem;
  max-width: var(--site-width-small);

  ul, ol {
    margin: 0 0 .5rem;
  }

  li::marker {
    color: getConfig('chip-color');
  }

  &.is-unstyled {
    // accessible hidden lists, see https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
    list-style: none;
    margin: 0;
    padding: 0;

    &::before {
      content: "\200B"; /* add zero-width space */
      position: absolute; /* ensures it doesn't cause a gap */
    }
  }
}

ul {padding: 0 0 0 1rem;}

dl {
  margin: 1.5rem auto;
  max-width: var(--site-width-small);

  dt {font-weight: bold;}
  
  dd {padding-left: 1.5rem;}
}