@use '../../config/config' as *;
$config: (
  'background-code': var(--color-neutral-100),
  'background-mark': var(--color-neutral-100),
  'color-hr': var(--color-neutral-300)
);

p {
  margin: 0 auto;
  max-width: var(--site-width-small);
}

strong,
b {
  font-weight: 600;
}
em,
dfn,
i {
  font-style: italic;
}
sup {
  font-size: 60%;
  vertical-align: top;
}
sub {
  font-size: 60%;
  vertical-align: bottom;
}
small {
  font-size: 80%;
}
kbd,
code,
samp,
pre,
var {
  font-family: monospace;
  font-size: 1rem;
}
code,
pre {
  background: getConfig('background-code');
  padding: 0.5rem 1rem;
}
code pre,
pre code {
  padding: 0;
}

pre {
  margin: 0 auto;
  max-width: var(--site-width-small);
}

hr {
  width: 100%;
  margin: 2rem auto;
  border: none;
  height: 1px;
  background: getConfig('color-hr');
  position: relative;
  overflow: visible;
  max-width: 100%;
}

mark {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .25rem;
  font-weight: 600;
  color: inherit;

  background: getConfig('background-mark');
}