@use '../../config/config' as *;
$config: (
  'background': var(--color-neutral-100),
  'color': var(--color-text),
  'border': solid var(--color-secondary),
  'border-width': 0 0 0 4px,
  'padding': toRem(24) toRem(32)
);

blockquote,
q {
  background: transparent;
  border-left: none;
  position: relative;
  z-index: 1;
  text-align: left;
}

blockquote {
  position: relative;
  z-index: 1;
  background-color: getConfig('background');
  font-style: italic;
  color: getConfig('color');
  font-weight: 600;
  font-size: var(--font-size-n);
  padding: getConfig('padding');
  border: getConfig('border');
  border-width: getConfig('border-width');
  line-height: inherit;
  max-width: var(--site-width-small);
  margin-left: auto;
  margin-right: auto;
}

cite {
  display: block;
  font-style: normal;
  font-weight: 400;
}